<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div>
      <p class="dark:text-slate-300">
        <em>
          Written by Harish H. Babu, creator of
          <a href="https://busynest.org?utm_source=Chekkan" target="_blank" class="underline hover:no-underline">Busynest</a>
          - a personal expense management software.
        </em>
      </p>
      {%- include social.html -%}
    </div>

  </div>

</footer>
